.login {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;

    
    .signup {
        width: 65%;
        border: 1px solid green;

        h2 {
            margin-bottom: 15px;
        }

        form {
            
            button {
                margin-bottom: 10px;
                width: 80px;
                font-size: 1.5rem
            }
        }
    }

    .signin {
        width: 35%;
        border: 1px solid green;

        h2 {
            margin-bottom: 15px;
        }
        button {
            margin-bottom: 10px;
            width: 70px;
            font-size: 1.5rem;
        }
    }

    .guest {
        margin-top: 60px;
        width: 80%;
        font-size: 2rem;
        border-radius: 15px;
    }

}