.login {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;

    
    .signup {
        width: 65%;
        border: 1px solid green;

        h2 {
            margin-bottom: 15px;
        }

        form {
            
            button {
                margin-bottom: 10px;
            }
        }
    }

    .signin {
        width: 35%;
        border: 1px solid green;

        h2 {
            margin-bottom: 15px;
        }
    }
}