.navbar {
    margin-top: 30px;
    background: #6200EE;

    img {
        margin-right: 15px;
        max-width: 28px;
        max-height: 28px;
    }

    h1 {
        color: white;
        font-size: 3rem;
    }

    .link {
        color: white;
    }

    span {
        color: white;
        font-size: 2rem;
    }

    .item {
        color: black;
    }

    .dropdown-menu-right {
        width: 100px;
    }
    .form-control {
        width: 39px;
        font-size: 0.9rem;
        padding: 2px;
    }

}