.single-restaurant {
    margin-top: 40px;

    .restaurant-img {
        border: 1px solid gray;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .name {
        color: rgb(66, 66, 209);
    }
    .address {
        text-align: end;
        p {
            font-size: 1.25rem;
        }
    }

    .description {
        margin-top: 30px;
        font-size: 1.25rem;
    }

    .visit {
        margin-top: 20px;
        
        span {
            font-size: 1.3rem;
            margin-right: 10px;
        }
        input {
            width: 25px;
            margin-right: 10px;
        }

        button {
            border-radius: 45%;
            font-size: 1.5rem;
        }
    }




}