/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.login {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
}
.login .signup {
  width: 65%;
  border: 1px solid green;
}
.login .signup h2 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login .signup form button {
  margin-bottom: 10px;
  width: 90px;
  font-size: 2rem;
  margin-left: 15px;
}
.login .signup form input {
  height: 30px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.login .signin {
  width: 35%;
  border: 1px solid green;
}
.login .signin h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login .signin button {
  margin: 10px auto;
  width: 90px;
  font-size: 2rem;
  margin-left: 15px;
}
.login .signin input {
  height: 30px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.login .guest {
  margin-top: 60px;
  width: 80%;
  font-size: 2rem;
  border-radius: 15px;
}
.restaurants {
  margin-top: 30px;
}
.restaurants .restaurant {
  padding-bottom: 20px;
  border-bottom: 1px solid #dad4d4;
  margin-bottom: 20px;
}
.restaurants .restaurant .restaurant-img {
  border: 1px solid gray;
}
.restaurants .restaurant .restaurant-img img {
  cursor: pointer;
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.restaurants .restaurant .name {
  color: blue;
  cursor: pointer;
}
.restaurants .restaurant .address {
  text-align: end;
  font-size: 1.4rem;
}
.restaurants .restaurant .description {
  text-align: justify;
  margin-top: 20px;
  font-size: 1.5rem;
}
.restaurants .restaurant .last-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.restaurants .restaurant span {
  font-size: 1.5rem;
}
.restaurants .restaurant button {
  float: right;
}
.single-restaurant {
  margin-top: 40px;
}
.single-restaurant .restaurant-img {
  border: 1px solid gray;
}
.single-restaurant .restaurant-img img {
  width: 100%;
  object-fit: cover;
}
.single-restaurant .name {
  color: #4242d1;
}
.single-restaurant .address {
  text-align: end;
}
.single-restaurant .address p {
  font-size: 1.25rem;
}
.single-restaurant .description {
  margin: 30px 0;
  font-size: 1.3rem;
}
.single-restaurant .details {
  font-size: 1.25rem;
}
.single-restaurant .details span {
  font-weight: oblique;
}
.single-restaurant .visit {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.single-restaurant .visit span {
  font-size: 1.3rem;
  margin-right: 10px;
}
.single-restaurant .visit .number {
  font-weight: bold;
  font-size: 1.3rem;
}
.single-restaurant .visit button {
  margin-left: 8px;
  border-radius: 90%;
  font-size: 1.5rem;
}
.single-restaurant .button {
  margin-top: 20px;
  margin-right: 15px;
  width: 80px;
  font-size: 1.2rem;
  background: #6200EE;
}
.single-restaurant .button a {
  color: white;
  width: 100%;
}
.navbar {
  margin-top: 40px;
  background: #6200EE;
}
.navbar img {
  margin-right: 15px;
  max-width: 28px;
  max-height: 28px;
}
.navbar h1 {
  color: white;
  font-size: 3rem;
}
.navbar .link {
  color: white;
}
.navbar span {
  color: white;
  font-size: 2rem;
}
.navbar .item {
  color: black;
}
.navbar .dropdown-menu-right {
  width: 100px;
}
.navbar .form-control {
  width: 39px;
  font-size: 0.9rem;
  padding: 2px;
}
.update {
  border: 1px solid blue;
  padding: 10px 10px;
  font-size: 1.4rem;
}
.update p {
  margin-bottom: 15px;
}
.update .name {
  font-weight: bold;
  font-size: 1.5rem;
}
.update input,
.update textarea,
.update select {
  font-size: 1.3rem;
}
.update .form-group {
  margin-bottom: 20px;
}
.update label {
  margin-bottom: 5px;
  font-weight: 500;
}
.update .visits {
  margin-left: 5px;
}
.update .buttons {
  justify-content: center;
}
.update .buttons .button {
  background: #6200EE;
  width: 90px;
  margin-right: 10px;
  font-size: 1.4rem;
}
